/* #f4f1de alb
#eab69f roz deschis
#e07a5f roz inchis
#3d405b albastru
#f2cc8f galben */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f1de;
    color: #3d405b;
}

.header {
    background-color: #3d405b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.title {
    color: #f4f1de;
    margin-left: 50px;
    margin-right: 50px;
}

.icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
.bar {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    margin-bottom: 7px;
    background-color: #e07a5f;
    display: inline-block;
}

.top-right-menu {
    display: flex;
    gap: 15px;
    margin-right: 10px;
    font-size: medium;
}
  
.top-right-menu a {
    text-decoration: none;
    color: #eab69f;
}
.top-right-menu a:hover{
    color:#e07a5f;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-list {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.menu-list li {
    margin-right: 15px;
}

.menu-list a {
    text-decoration: none;
    color: #eab69f;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu-list a:hover {
    color: #e07a5f;
}

.hamburger-menu {
    display:none;
    z-index: 3;
    top: 100%;
}

.hamburger-menu button {
      background-color: #3d405b; 
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-family: "Arial", sans-serif;
    }
    
.hamburger-menu ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      background-color: #3d405b;
      position: absolute;
      top: 45px;
      left: 0;
      width: 30%; 
      height: max-content;
      display: flex;
      flex-direction: column;
    }
.hamburger-menu li {
      border-bottom: 1px solid #464a68;
    }
.hamburger-menu li:hover {
      background: #464a68;
    }
.hamburger-menu li a{
      padding: 15px;
      text-align: center;
      color: #eab69f;
      cursor: pointer;
      font-family: "Arial", sans-serif;
      text-decoration: none; 
      margin-bottom: 10px;
      display: block;
      
    }
.hamburger-menu li a:hover {
      color: #e07a5f; 
    }
.user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
.user-menu a {
    margin-right: 15px;
    text-decoration: none;
    color: #eab69f;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}


.user-menu a:hover {
    color: #e07a5f;
}

#backdrop{
    width: 100%;
    margin-top: -20px;
}

.image-section {
    position: relative;
    margin-top: 20px;
    z-index: 1;
}

.image-section img {
    width: 100%;
    height: auto;
    /* background-image: url('{{ asset('home.jpg') }}'); */
    /* background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; */
}

.see-events-button {
    position: absolute;
    bottom: 55%;
    left: 50%;
    width: 300px;
    height: 50px;
    font-size: larger;
    font-weight: 600;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #f2cc8f;
    color: #3d405b;
    box-shadow: 0 4px 8px rgba(61, 64, 91, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.see-events-button:hover {
    background-color: #e07a5f;
    color: #f4f1de;
}

/* CONTUL MEU */

  .login {
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .login h2 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }

  .login input[type="text"],
.login input[type="password"] {
  background-color: transparent;
  display: block;
  border: 0;
  border-radius: 24px;
  border: 2px solid #3d405b;
  outline: none;
  margin: 20px auto;
  padding: 12px 10px;
  text-align: center;
  width: 200px;
  font-size: 16px;
  color: #fff;
  transition: 0.25s;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  width: 260px;
  border: 2px solid #eab69f;
}

.login input[type="submit"] {
  background-color: transparent;
  display: block;
  border: 0;
  border-radius: 24px;
  border: 2px solid #eab69f;
  outline: none;
  margin: 20px auto;
  padding: 12px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: 0.25s;
}

.login input[type="submit"]:hover {
  width: 200px;
  background-color: #eab69f;
}
  
